#page-content {
	margin: 0px;
}

#applogin-tommy-barnes {
	float: right !important;
}

.applogin-nav-button {
	float: right;
}

#applogin-home-button {
	color: white;
}

#applogin-home-button:hover {
	cursor: pointer;
}