#page-content {
	margin: 0px;
}

#applogin-tommy-barnes {
	float: right !important;
}

.applogin-nav-button {
	float: right;
}

.applogin-nav-button a {
	margin-top: -7px;
	text-decoration: none;
}

.applogin-nav-button a:visited {
	color: white;
}

.applogin-alum-offset {
	margin-top: 1px;
}

.applogin-nav-button a:hover {
	text-decoration: none;
	color: white;
}

#applogin-home-button {
	color: white;
}

#applogin-home-button:hover {
	cursor: pointer;
}

.applogin-btgLogo img {
	margin-top: 8px;
	margin-left: 8px;
}

.user-profile {
	margin-right: 30px;
}

.applogin-username {
	width: 80px !important;
	margin-left: 8px !important;
}