/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

#diswot {
  height: 600px;
}

#fe-nav-bar {
  opacity: 0.5;
}

#fe-main-text {
  background-color: blue;
  opacity: 50%;
  float: left;
  margin-left: 20%;
  width: 35%;
}

#index-first-banner iframe {
  float: left;
}

#index-first-banner {
  display: flex;
  flex-direction: column; /* what it do? */
  justify-content: center;
  align-items: center;
}

#fe-banner-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#fe-main-box {
	margin-top: 100px;
	height: 560px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#fe-main-box-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
}

#fe-text-and-register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#fe-text-and-register p {
	font-weight: bold;
	opacity: .6;
	font-size: 300%;
	color: white;
	opacity: 1;
}

#fe-main-box-content a {
	margin-top: 260px;
	margin-right: 0px;
	background-color: #82E0FF;
/*	opacity: .8;
	border-style: solid;
	border: 5px;
	border-color: white;*/
}

#fe-main-box-content a:hover{
	background-color: #82F0FF

}

#fe-our-mission-banner {
	padding-top: 140px;
	padding-bottom: 140px;
}

.fe-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 350px;
	background-color: gray;
	opacity: 70%;
}

.fe-footer img {
	margin-right: 50px;
}


#fe-support-us {
	height: 500px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.fe-contact-us-footer {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

#fe-about-us-banner {
	padding-top: 60px;
	padding-bottom: 60px;
}


/*#fe-text-and-register a:hover {
	opacity: 1;
}*/


/*body {
	margin: 2%;
	font-family: Roboto, Noto, sans-serif;
}

.cs142-main-header {
	font-size: 40px;
}

ul.ng-scope {
	height:50px;
}

a {
	color: #EE7600;
}

#content {
	margin: 2%;
}

.addph {
	font-size: 20px;
}

.smallhead {
	font-size: 10px;
}

.listOfUsers {
	font-size: 10px;
}

.img-circle {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}*/

