/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

#diswot {
	height: 600px;
}

#fe-nav-bar {
	opacity: 0.5;
}

#fe-main-text {
	background-color: blue;
	opacity: 50%;
}


/*body {
	margin: 2%;
	font-family: Roboto, Noto, sans-serif;
}

.cs142-main-header {
	font-size: 40px;
}

ul.ng-scope {
	height:50px;
}

a {
	color: #EE7600;
}

#content {
	margin: 2%;
}

.addph {
	font-size: 20px;
}

.smallhead {
	font-size: 10px;
}

.listOfUsers {
	font-size: 10px;
}

.img-circle {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}*/

