.favlist {
	list-style-type: none;
}

.favtitle {
	font-size: 30px;
	text-align: center;
}

.favsub {
	font-size: 15px;
	text-align: center;
}

.del {
	background-color: orange;
}

.thumb {
	width: 105px;
	text-align: center;
}

#popup {
	z-index: 1;
	position: fixed;
	width:500px;
	height: 80%;

}