#myProfile-add-video-thumbnail{
  opacity: 0;
}

.myProfile-page{
  overflow-x: hidden;
}
#myProfile-profile-description-box{
  color: black;
}

.myProfile-headings {
  text-align: center;
  background-color: #14496C;
  padding: 5px;
  color: white;
}

#myProfile-profile-box {
  max-height:400px;
}

.myProfile-profile-box-parent {
  width:100%;
  background-color: #14496C;
  padding: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.myProfile-Picture {
  margin-top: 0px;
  width: inherit;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.myProfile-profile-box-parent:hover #myProfile-set-profile-picture-button{
  display:block;
}

.panel-content:hover #myProfile-set-profile-picture-button {
    display: block;
}

#myProfile-snapshot {
  padding: 0px;
  width: 100%;
}

.webcam-live {
  width: 100%;
}

#myProfile-set-profile-picture-button {
  display: none;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 100;
}

#myProfile-set-profile-picture-button:hover {
  background-color:#00bca4;
}

.myProfile-list-container{
  width: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
}


.thumbnail-container {
  position: relative;
  cursor: pointer; 
  cursor: hand;
}

