<script type="text/javascript" src="../../assets/widgets/tabs-ui/tabs.js"></script>

<script type="text/javascript">
   /* jQuery UI Tabs */
   
   $(function() { "use strict";
       $(".tabs").tabs();
   });
   
   $(function() { "use strict";
       $(".tabs-hover").tabs({
           event: "mouseover"
       });
   });
</script>

<script type="text/javascript">
   $(document).ready(function() {
      var $outer = $('#myProfile-outer'),
         $overlay = $('<div>', {
            css: {
               position: 'absolute',
               width:  $(document).width(),
               height: $(document).height(),
               backgroundColor: 'rgba(255,255,255,0.8)',
               zIndex: 19,      
            }
       }).appendTo( $outer );
      document.getElementById("box123").style.zIndex = "20";
      $('#myProfile-set-profile-picture-button').on('click', function() {
         console.log("trying to hide overlay");
         $overlay.hide();
         $overlay.css('z-index', 0);
      });

      $('.myProfile-Walkthrough2').css('min-height', $(window).height());
      // $("#walkthrough-upload-success").css({top: $(window).height()/2, left: $(window).width/2);
      $("#walkthrough-upload-success").fadeOut( 5000, function() {
          // Animation complete.
      });

   });
</script>

<div id="walkthrough-upload-success">
   <div class="alert alert-success">
      <div class="bg-green alert-icon">
         <i class="glyph-icon icon-check"></i>
      </div>
      <div class="alert-content">
         <h1>Profile Picture Set!</h1>
         <h3> Good Job. Let's set your description now.</h3>
      </div>
   </div>
</div>

<div class="myProfile-page myProfile-Walkthrough2" id="myProfile-outer">
   <div id="alum-modal-view-video" ng-show="userProfiles.modalOpen" >
      <div class="modal fade display-block" tabindex="1">
         <div class="modal-dialog">
            <div class="modal-content alum-modal-content-2">
               <div class="modal-header">
                  <button type="button" class="close" aria-hidden="true" ng-click="main.closeClick()">&times;</button>
                  <h4 class="modal-title" id="alum-modal-title-forChange">{{userProfiles.currVid.title}}</h4>
               </div>
               <div class="modal-body" id="alum-innerHTML">
                  <p>Modal content here ...</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" ng-click="main.closeClick()">Continue Exploring</button>
                  <button id="alum-go-to-but" type="button" class="btn btn-primary" ng-click="main.seeProfileClick(userProfiles.currVid.author_id)">See Profile</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="myProfile-profile-box-parent" id="box123">
         <img src="{{main.user.profile_picture_url}}" alt="" class="myProfile-Picture ">
         <div class="myProfile-headings">
            <h3 class="meta-heading">{{main.user.firstname}} {{main.user.lastname}}</h3>
            <h4 class="meta-subheading">{{main.user.college}} Prof Photo:{{main.hasProfilePhoto}}</h4>
         </div>

         <md-button style="display:none" class="btn btn-default btn-primary" id="myProfile-set-profile-picture-button" data-toggle="modal" data-target="#myModal">Set Profile Picture</md-button>
      </div>
      <div class="panel-content pad15A bg-white radius-bottom-all-4 radius-top-all-0" id="myProfile-profile-description-box">
         <div class="mrg15T mrg15B"></div>
         <blockquote class="font-gray">
            <div class="user-info" ng-if="!editing">
               <p>{{main.user.interests}}</p>
            </div>
            <div class="user-info-editing" ng-if="editing">
               <textarea elastic id="edit-text-area" class="form-control" type="text" name="comment1" ng-model="main.user.interests" required></textarea>
            </div>
         </blockquote>
         <a class="btn btn-default" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!editing]" ng-click="editing = !editing; toggleEditMode()">{{!editing && 'Edit Profile' || 'Save Profile'}}</a>
      </div>
      <div id="walkthrough-down-arrow"><img src="/images/SetDescriptionArrow.png" /></div>

   </div>
   <div class="col-md-9">
      <link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/portfolio-navigation.css">
      <script type="text/javascript" src="../../assets/widgets/mixitup/mixitup.js"></script>
      <script type="text/javascript" src="../../assets/widgets/mixitup/images-loaded.js"></script>
      <script type="text/javascript" src="../../assets/widgets/mixitup/isotope.js"></script>
      <script type="text/javascript" src="../../assets/widgets/mixitup/portfolio-demo.js"></script>

      <div class="row myProfile-tile-row">
         <div class="col-md-3">
            <div class="thumbnail-box thumbnail-box-inverse myProfile-hover-hand">
               <div class="thumb-overlay bg-black" id="myProfile-add-video-thumbnail"></div>
                  <img ng-src="/images/record_new_profile_video_button.png" alt="new prof pic" />
            </div>        
         </div>
         <div class="col-md-3">
            <div class="tile-box tile-box-alt btn-success myProfile-tile">
                    <div class="tile-header">
                        Number of Videos
                    </div>
                    <div class="tile-content-wrapper">
                        <div class="myProfile-tile-box-number">10</div>
                    </div>
            </div>
         </div>
         <div class="col-md-3">
                <div class="tile-box tile-box-alt btn-info">
                    <div class="tile-header">
                        Subscriptions
                    </div>
                    <div class="tile-content-wrapper">
                        <div class="myProfile-tile-box-number">10</div>
                    </div>
                </div>
         </div>
         <div class="col-md-3">
            <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-warning">
                    <div class="tile-header">
                        Number of Video Views
                    </div>
                    <div class="tile-content-wrapper">
                        <div class="myProfile-tile-box-number">155</div>
                    </div>
                </a>
         </div>

      </div>
      <div class="row">
      <div class="portfolio-controls mrg10L mrg10R radius-all-4 portfolio-nav-alt bg-blue clearfix controls">
         <div class="container text-center">
            <ul class="float-none">
               <li class="filter" data-filter="hover_2">My Videos</li>
               <li class="filter" data-filter="profile">My Profile Video</li>
               <li class='filter' data-filter='groups'>My Groups</li>
            </ul>
         </div>
      </div>
      <div class="clearfix">
         <ul id="portfolio-grid" class="reset-ul row">
            <a href="#/upload-video">
               <li class="col-lg-3 col-sm-6 col-md-4 mix hover_2" data-cat="3">
                  <div class="thumbnail-box thumbnail-box-inverse">
                     <div class="thumb-overlay bg-black"></div>
                        <img ng-src="/images/add_video_button.png" alt="" />
                  </div>
               </li>
            </a>
            <li ng-repeat="video in main.videosArray | orderBy:'timestamp'" class="col-lg-3 col-sm-6 col-md-4 mix hover_2" data-cat="3">
               <div class="thumbnail-box thumbnail-box-inverse">
                  <div class="thumb-content">
                     <div class="center-vertical">
                        <div class="center-content">
                           <h3 class="thumb-heading animated bounceIn" style="color:white; font-weight: bold;">
                              {{video.title}}
                              <small style="color:white">{{video.date}}</small>
                              <i class="glyph-icon tooltip-button demo-icon icon-play-circle" title=".icon-play-circle"></i>
                           </h3>
                        </div>
                     </div>
                  </div>
                  <div class="thumb-overlay bg-black"></div>
                  <div ng-click="userProfiles.generateFrame(video.url, video.$id, video.views)">
                     <img ng-src="http://img.youtube.com/vi/{{video.url}}/0.jpg" alt="" />
                  </div>
               </div>
               <!-- </div>
                  -->
            </li>
            <a ng-click='clipchamp()'>
               <li class="col-lg-3 col-sm-6 col-md-4 mix profile" data-cat="3">
                  <div class="thumbnail-box thumbnail-box-inverse">
                     <div class="thumb-overlay bg-black" id="myProfile-add-video-thumbnail"></div>
                        <img ng-src="/images/record_new_profile_video_button.png" alt="new prof pic" />
                  </div>
               </li>
            </a>



            <li class="col-lg-3 col-sm-6 col-md-4 mix profile" data-cat="3">
               <div class="thumbnail-box thumbnail-box-inverse">
                  <div class="thumb-content">
                     <div class="center-vertical">
                        <div class="center-content">
                           <h3 class="thumb-heading animated bounceIn" style="color:white; font-weight: bold;">
                              {{main.user.firstname}}'s Profile Video
                              <small style="color:white">Meet me!</small>
                              <i class="glyph-icon tooltip-button demo-icon icon-play-circle" title=".icon-play-circle"></i>
                           </h3>
                        </div>
                     </div>
                  </div>
                  <div class="thumb-overlay bg-black"></div>
                  <div ng-click="userProfiles.generateFrame(main.user)">
                     <img ng-src="http://img.youtube.com/vi/{{main.user.intro_url}}/0.jpg" alt="" />
                  </div>
               </div>
               <!-- </div>
                  -->
            </li>

            <li ng-repeat="(group, value) in main.groups" class="col-lg-3 col-sm-6 col-md-4 mix groups" data-cat="3">
               <div class='thumbnail-box thumbnail-box-inverse'>
                  <div class='thumb-content'>
                     <div class='center-vertical'>
                        <div class='center-content'>
                           <h3 class='thumb-heading animated bouncIn' style='color:white; font-weigth:bold;'>
                           </h3>
                        </div>
                     </div>
                  </div>
                  <div>
                     <img ng-click='goToGroup(group)' ng-src='images/{{group}}.png' />
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
   </div>
   <!--Modal Content-->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <!-- Modal content -->
         <div class="modal-content" id="modal-upload-or-webcam-parent">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div id="modal-upload-or-webcam">
               <div layout="row">
                  <div flex="50" layout="column" class="boxWithHeight modal-left" layout-padding>
                     <b>Upload A File</b>
                     <span> <input type="file" accept="image/*"  onchange="angular.element(this).scope().inputFileNameChanged(this)"> </span>
                     <span>
                        <md-button ng-click="uploadPhoto()" class="btn-primary">Upload</md-button>
                     </span>
                  </div>
                  <div flex="50" layout="column" class="boxWithHeight" id="modal-right"layout-padding>
                     <b>Take a Profile Picture</b>
                     <div id="webcam-container">
                        <webcam id="live-webcam"
                           on-stream="onStream(stream)"
                           on-error="onError(err)"
                           on-streaming="onSuccess()"
                           channel="channel"
                           ng-if="showLiveWebcam"
                           placeholder="'images/gears-loader.gif'">
                           <div class="alert alert-error" ng-show="webcamError">
                              <span>Webcam could not be started. Did you give access to it?</span>
                           </div>
                        </webcam>
                     </div>
                     <md-button ng-show="showLiveWebcam" class="btn-primary" ng-click="makeSnapshot()">Take snapshot!</md-button>
                     <canvas id="myProfile-snapshot" ng-hide="showLiveWebcam" class="well pull-right"></canvas>
                     <md-button ng-click="uploadSnapshot()" class="btn-primary" ng-hide="showLiveWebcam">Upload Snapshot </md-button>
                     <md-button ng-click="toggleShowLiveWebcam()" class="btn-primary" ng-hide="showLiveWebcam">Retake Photo</md-button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

