<span>
	<md-button class="md-raised"> <a class="clickLinks" href="/photo-share.html#/users/{{main.currUser._id}}">User Detail</a> </md-button>
	<md-button class="md-raised"> <a class="clickLinks" href="/photo-share.html#/photos/{{main.currUser._id}}">Photos</a> </md-button>
</span>

<div ng-if="main.photosLength===0"> This user has no photos! </div>

<div ng-if="main.photosLength!==0">
	
	<a ng-href="/photo-share.html#/photos/{{main.currUser._id}}"> <md-checkbox ng-model="main.isChecked" ng-init="main.isChecked=true">
  		Enable Advanced Features
	</md-checkbox> </a>



	<div class="displayButtons">
		<md-button class="md-fab" ng-disabled="main.photoId<=0" ng-href="photo-share.html#/photos/{{main.currUser._id}}/{{main.photoId-1}}">Prev</md-button>
		<md-button class="md-fab" ng-disabled="main.photoId>=(main.allPhotosCurr.length-1)" ng-href="photo-share.html#/photos/{{main.currUser._id}}/{{main.photoId+1}}">Next</md-button>
	</div>

	<md-card class="photocard">
				<md-card-header> {{main.currUserFullName}}, posted on {{main.photo.date_time}} 

				<div ng-show="main.photo.user_id === main.loggedInId">
					<div ng-show="main.sessionCurrUser.favorites_list.indexOf(main.photo._id)===-1"> 
						<md-button class="fav" ng-click="favorite($event, main.photo._id)">Fav<md-icon><i class="material-icons">star_border</i> </md-icon> </md-button>
					</div>
					<div ng-show="main.sessionCurrUser.favorites_list.indexOf(main.photo._id)!==-1"> 
						<md-button class="fav" ng-click="unfavorite($event, main.photo._id)">UnFav<md-icon><i class="material-icons">star</i> </md-icon> </md-button>
					</div>
				</div>

			</md-card-header>
				<img ng-src="images/{{main.photo.file_name}}"></img>

				<div ng-show="main.photo.likes.indexOf(main.loggedIn)===-1"> 
					<md-button ng-disabled="main.inUse" class="likes" ng-click="like($event, main.photo._id)">Like<md-icon><i class="material-icons">favorite_border</i> </md-icon> </md-button>
				</div>

				<div ng-show="main.photo.likes.indexOf(main.loggedIn)!==-1"> 
					<md-button ng-disabled="main.inUse" class="likes" ng-click="unlike($event, main.photo._id)">Unlike<md-icon><i class="material-icons">favorite</i> </md-icon> </md-button>
				</div>

				<span> currently, {{main.photo.likes.length}} like(s) on this photo </span>
				<span> likes : {{main.photo.likes}} </span>


				<md-card-title> 
					<div ng-show="main.photo.comments.length>=1">Comments:</div>
				</md-card-title> 
				<md-card-content> 
					<ul>
						<md-list-item ng-repeat="comment in main.photo.comments">
						<div class="md-list-item-text">({{comment.date_time}}) <a href="photo-share.html#/users/{{comment.user._id}}">{{comment.user.first_name}}</a>: {{comment.comment}} 
						</div>
						</md-list-item>
					</ul>
					<form class="commentForm" name="comment">
						<md-input-container>
							<label>Add a comment</label>
							<input name="newComment" ng-model="newComment" required></input>
						</md-input-container>
						<span> <md-button class="md-fab" ng-click="commentClickFunc($event, main.photo._id, newComment)">Enter</md-button></span>
					</form>
				</md-card-content>
	</md-card>

</div>