.viewProfile-page{
  overflow-x: hidden;
}
#viewProfile-profile-description-box{
  color: black;
}

.viewProfile-headings {
  text-align: center;
  background-color: #14496C;
  padding: 5px;
  color: white;
}

#viewProfile-profile-box {
  max-height:400px;
}

.viewProfile-profile-box-parent {
  width:100%;
  background-color: #14496C;
  padding: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.viewProfile-Picture {
  margin-top: 0px;
  width: inherit;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.viewProfile-list-container{
  width: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
}


.thumbnail-container {
  position: relative;
  cursor: pointer; 
  cursor: hand;
}

