<h1>Welcome to My Awesome App</h1>
<div>
<form class="myform" name="login">
	<md-input-container>
		<label>Username</label>
		<input name="userId" ng-model="userId" required>
	</md-input-container>
	<md-input-container>
		<label>Password</label>
		<input type="password" ng-model="pass" required>
	</md-input-container>
		<div ng-show="main.error===true">Sorry this username or password is not found. Please try again.</div>
		<button type='button' ng-show='main.error===true' ng-click='retrievePassword()'>Retrieve password</button>
	
	<div> <md-button class="md-fab" ng-click="main.login(userId, pass)">Login</md-button></div>
</form>
</div>



￼
