<h3 class="title-hero">
    Left timeline
</h3>
<div class="example-box-wrapper">
    <div class="timeline-box timeline-box-left">

        <div ng-repeat='vid in group.videos'>

            <div class="tl-row">
                <div class="tl-item float-right">
                    <div class="tl-icon bg-red">
                        <i class="glyph-icon icon-toggle-on"></i>
                    </div>
                    <div class="popover right">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <img ng-src="https://img.youtube.com/vi/{{vid.url}}/0.jpg" alt="" />
                            <div class="tl-label bs-label label-info">Appointment</div>
                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
        <!-- <div class="tl-row">
            <div class="tl-item float-right">
                <div class="tl-bullet bg-black"></div>
                <div class="tl-panel">
                    3:21 PM
                </div>
                <div class="popover right">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <h3 class="tl-title">Lorem ipsum</h3>
                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis pede.</p>
                        <div class="tl-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tl-row">
            <div class="tl-item">
                <div class="tl-bullet bg-blue"></div>
                <div class="tl-panel">
                    3:21 PM
                </div>
                <div class="popover left">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <h3 class="tl-title">Lorem ipsum</h3>
                        <p class="tl-content">Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                        <div class="tl-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tl-row demo-margin">
            <div class="tl-item float-right">
                <div class="tl-bullet bg-green"></div>
                <div class="tl-panel">
                    3:21 PM
                </div>
                <div class="popover right">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <h3 class="tl-title">Lorem ipsum</h3>
                        <p class="tl-content">Lorem ipsum dolor sit amet, volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                        <div class="tl-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                    </div>
                </div>
            </div>
        </div> -->