
<script type="text/javascript" src="../../assets/widgets/tabs-ui/tabs.js"></script>
<script type="text/javascript">
    /* jQuery UI Tabs */

    $(function() { "use strict";
        $(".tabs").tabs();
    });

    $(function() { "use strict";
        $(".tabs-hover").tabs({
            event: "mouseover"
        });
    });
</script>


    <div class="example-box-wrapper">
        <div class="content-box tabs">
            <h3 class="content-box-header bg-primary">
                <span>View Videos</span>
                <ul>
                    <li>
                        <a href="#tabs-example-1" ui-sref="alum.topic" title="Tab 1">
                            Featured
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-example-2" ui-sref="alum.list" title="Tab 2">
                            By Alum
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-example-3" title="Tab 3">
                            By Topic
                        </a>
                    </li>
                </ul>
            </h3>
            <div id="tabs-example-1">
                <div class="contain">




<div ng-repeat="subset in main.allOfThem">
        <h1>{{subset.name}}</h1>
  <div class="row">
    <div class="row__inner">

      <div class="tile" ng-repeat="video in subset">
        <div class="tile__media">
          <img class="tile__img" ng-src="http://img.youtube.com/vi/{{video.url}}/0.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
</div>
            </div>
            <div id="tabs-example-2">
                
<div class="large">



<div class="outer-div">
<span ng-repeat="user in main.userArray">
  <div ng-click="clickedFace(user.intro_url)" class="outer-link">
    <figure>
      <img class="img-circle" ng-src="{{user.profile_picture_url}}" alt=""></img>
      <figcaption class="caption">{{user.firstname}}</figcaption>
    </figure>
  </div>
 </span>

</div>

<div ng-show="main.showVidBox" class="popup">
  <md-button class="closevid" ng-click="closeVid()"><md-icon><i class="material-icons">highlight_off</i> </md-icon> </md-button>
  <youtube-video class="video-pop" video-id="main.currURL"></youtube-video>
</div>

</div>


            </div>
            <div id="tabs-example-3">
                Tab 3 content goes here ...
            </div>
        </div>



<!-- <ul class="cs142-main-mytoolbar">
<li class="cs142-main-myelement" ng-repeat="user in main.userArray">
	{{user}}
	{{user.lastname}}
	{{user.$id}}
	<youtube-video video-id="user.intro_url"></youtube-video>
</li>
</ul> -->

<!-- partials/state1.html -->

<!-- <md-toolbar layout="row" layout-align="center end" class="md-tall">
	<div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column">
		<h2>Hear Our Stories</h2>
		<span flex> </span>
		<md-tabs md-stretch-tabs="always" class="md-primary md-hue-2">
			<md-tab>
				<md-tab-label><a ui-sref="alum.list" class="label-tab"> Explore Alumni </a></md-tab-label>
			</md-tab>
			<md-tab>
				<md-tab-label><a ui-sref="alum.topic" class="label-tab"> Explore Videos </a></md-tab-label>
			</md-tab>
		</md-tabs>
	</div>
</md-toolbar> -->

<!-- <div ui-view></div>
 -->



<!-- <div class="container" flex layout="row">
    <md-content flex id="content">
         <ul class="ch-grid">
          <span ng-repeat="user in main.userArray">
          <li id="{{user.$id}}">
          	<md-card>
            <a ng-href="/#/users/{{student}}">
            	<img class="img-circle" ng-src="/components/allAlum/{{user.$id}}.png"></img>
                    <div class="ch-info">
                        <h3 style="text-decoration:none">Interests</h3>
                        <p style="text-decoration:none">{{user.interests}}</p>
                    </div>
                    <div style="text-decoration:none" class="ch-label">
                        {{user.firstname}}
                    </div>
                    <div style="color:black"> <i>{{user.plans}}</i></div>
            </a>
        </md-card>
          </li>
        </span>
        </ul> 
    </md-content>
</div> -->





<!-- <ul class="cs142-main-mytoolbar">
  <li class="cs142-main-myelement" ng-repeat="user in main.userArray">
    <a class="cs142-main-mylink" href="photo-share.html#/users/{{user._id}}"> {{user.first_name}} {{user.last_name}}</a>
  </li>
</ul>  
Test Object
{{main.testObj}}
<div><md-button class="md-raised"> <a  href="/photo-share.html#/favorites">Favorites</a> </md-button></div>


<ul class="cs142-main-mytoolbar">
  <li class="cs142-main-myelement" ng-repeat="user in main.userArray">
    <a class="cs142-main-mylink" href="photo-share.html#/users/{{user._id}}"> {{user.first_name}} {{user.last_name}}</a>
  </li>
</ul>  

<div><md-button class="md-raised"> <a  href="/photo-share.html#/favorites">Favorites</a> </md-button></div> -->
