<div class="panel">
<div class="panel-body">
<div>
<h3 class="title-hero">
    Most Recent
</h3>
<div class="example-box-wrapper">

    <div class="owl-carousel-1 slider-wrapper carousel-wrapper">

        <div ng-click="generateFrame(main.mostRecArray[0].url, main.mostRecArray[0].$id, main.mostRecArray[0].views)">
            <div class="thumbnail-box thumbnail-box-inverse">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[0].title}}
                                <small style="color:white">{{main.mostRecArray[0].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[0].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>

        <div ng-click="generateFrame(main.mostRecArray[1].url, main.mostRecArray[0].$id, main.mostRecArray[0].views)">
            <div class="thumbnail-box thumbnail-box-inverse">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[1].title}}
                                <small style="color:white">{{main.mostRecArray[1].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[1].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>

        <div ng-click="generateFrame(main.mostRecArray[2].url, main.mostRecArray[0].$id, main.mostRecArray[0].views)">
            <div class="thumbnail-box thumbnail-box-inverse">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[2].title}}
                                <small style="color:white">{{main.mostRecArray[2].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[2].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>                

 
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[3].title}}
                                <small style="color:white">{{main.mostRecArray[3].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[3].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>

        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[4].title}}
                                <small style="color:white">{{main.mostRecArray[4].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[4].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>

        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[5].title}}
                                <small style="color:white">{{main.mostRecArray[5].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[5].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>   

        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[6].title}}
                                <small style="color:white">{{main.mostRecArray[6].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[6].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>

        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[7].title}}
                                <small style="color:white">{{main.mostRecArray[7].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[7].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>

        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                {{main.mostRecArray[8].title}}
                                <small style="color:white">{{main.mostRecArray[8].url}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img ng-src="https://img.youtube.com/vi/{{main.mostRecArray[8].url}}/maxresdefault.jpg" alt="" />
            </div>
        </div>          





    </div>
</div>
</div>
</div>
</div>
