<div class="contain">

  <h1>Pure CSS Netflix Video Carousel</h1>

  <p>
    Inspired by  <a href="https://twitter.com/Eli_White">Eli White's</a> article <a href="http://eng.wealthfront.com/2015/06/implementing-netflix-redesign.html">Performant CSS Animations: Netflix Case Study</a>, his <a href="http://codepen.io/TheSavior/pen/LVeYBp">example pen</a>, and <a href="http://matthewjamestaylor.com/">Matt Taylor's</a> <a href="http://codepen.io/mattjamestaylor/pen/dodYPr">CSS-only version.</a>
  </p>

  <div class="row">
    <div class="row__inner">

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-2.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-3.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-4.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-5.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-6.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-7.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-8.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-9.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-10.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-11.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-12.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-13.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-14.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-15.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-16.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-17.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-18.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-19.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<!-- <!DOCTYPE html> 
<html lang="en">
<head>

    <style>
        /* Loading Spinner */
        .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
    </style>






</head>


    <body>

        <div id="page-content-wrapper">
            <div id="page-content">
                
                    <div class="container">
                    

<div id="page-title">
    

<div class="panel">
<div class="panel-body">
<div>
<h3 class="title-hero">
    Owl carousel
</h3>
<div class="example-box-wrapper">

    <div class="owl-carousel-1 slider-wrapper carousel-wrapper">

        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                Railroad bridge
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="../../assets/image-resources/stock-images/img-1.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated rollIn">
                                Beautiful garden
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="../../assets/image-resources/stock-images/img-2.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated fadeInDown">
                                Sunrays flowers
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="../../assets/image-resources/stock-images/img-3.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated flipInX">
                                Seeing a DJs work
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue"></div>
                <img src="../../assets/image-resources/stock-images/img-4.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated bounceInDown">
                                <a href="#" class="btn btn-md btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                                <a href="#" class="btn btn-md btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="../../assets/image-resources/stock-images/img-5.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated zoomIn">
                                <a href="#" class="btn btn-lg btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                                <a href="#" class="btn btn-lg btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-gray"></div>
                <img src="../../assets/image-resources/stock-images/img-6.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated rotateIn">
                                <a href="#" class="btn btn-lg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="../../assets/image-resources/stock-images/img-7.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated bounceIn">
                                <a href="#" class="btn btn-xlg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="../../assets/image-resources/stock-images/img-8.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-br animated bounceInDown bg-danger glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="../../assets/image-resources/stock-images/img-9.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated pulse font-white glyph-icon icon-linecons-search"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-tr animated rotateIn bg-green glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-danger"></div>
                <img src="../../assets/image-resources/stock-images/img-10.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated swing font-white glyph-icon icon-linecons-location"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-bl animated zoomIn bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-azure"></div>
                <img src="../../assets/image-resources/stock-images/img-11.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-tl animated fadeIn bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="../../assets/image-resources/stock-images/img-12.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                Cookie monsters
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="../../assets/image-resources/stock-images/img-13.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="../../assets/image-resources/stock-images/img-14.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated rollIn">
                                Tables at work
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-orange"></div>
                <img src="../../assets/image-resources/stock-images/img-15.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="../../assets/image-resources/stock-images/img-16.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="../../assets/image-resources/stock-images/img-21.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="../../assets/image-resources/stock-images/img-22.jpg" alt="">
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
                    </div>

                

            </div>
        </div>
    </div>


    WIDGETS -->

<script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.js"></script>

<!-- Bootstrap Dropdown -->

<!-- <script type="text/javascript" src="../../assets/widgets/dropdown/dropdown.js"></script> -->

<!-- Bootstrap Tooltip -->

<!-- <script type="text/javascript" src="../../assets/widgets/tooltip/tooltip.js"></script> -->

<!-- Bootstrap Popover -->

<!-- <script type="text/javascript" src="../../assets/widgets/popover/popover.js"></script> -->

<!-- Bootstrap Progress Bar -->

<script type="text/javascript" src="../../assets/widgets/progressbar/progressbar.js"></script>

<!-- Bootstrap Buttons -->

<!-- <script type="text/javascript" src="../../assets/widgets/button/button.js"></script> -->

<!-- Bootstrap Collapse -->

<!-- <script type="text/javascript" src="../../assets/widgets/collapse/collapse.js"></script> -->

<!-- Superclick -->

<script type="text/javascript" src="../../assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="../../assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="../../assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Slidebars -->

<script type="text/javascript" src="../../assets/widgets/slidebars/slidebars.js"></script>
<script type="text/javascript" src="../../assets/widgets/slidebars/slidebars-demo.js"></script>

<!-- PieGage -->

<script type="text/javascript" src="../../assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="../../assets/widgets/charts/piegage/piegage-demo.js"></script>

<!-- Screenfull -->

<script type="text/javascript" src="../../assets/widgets/screenfull/screenfull.js"></script>

<!-- Content box -->

<script type="text/javascript" src="../../assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="../../assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="../../assets/js-init/widgets-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="../../assets/themes/admin/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="../../assets/widgets/theme-switcher/themeswitcher.js"></script>

</div>
</body>
</html>






<!-- <div ng-repeat="thing in main.allOfThem">
<div class="arr-container">
    <span class="arrow back" ng-mouseover="goBackward(thing.id)" ng-mouseleave="stopBackward(thing.id)"> &lt&lt </span>
    <span class="arrow forward" ng-mouseover="goForward(thing.id)" ng-mouseleave="stopForward(thing.id)"> &gt&gt </span>
</div>
<div class="container3">

    <header class="header">
     <h1>{{thing.name}}</h1>
     <div class="button-div">
        <md-button class="allButton"><a ui-sref="alum.allvids({page: 88})" style="text-decoration: none"> See All </a></md-button>
    </div>
    </header>    
    <div class="photobanner">
        <span ng-repeat="video in thing|limitTo:1">
            <md-card id="{{thing.id}}" class="first mdcard">
                 <span id="{{video.url}}" class="thumbnail-container">
                    <img class="thumbnail" ng-click="generateFrame(video.url, video.$id, video.views)" id="{{video.url}}-child" src="http://img.youtube.com/vi/{{video.url}}/0.jpg"></img>
                    <i ng-click="generateFrame(video.url, video.$id, video.views)" class="material-icons play-circle" id="play-circle-{{video.url}}">play_circle_outline</i>
                 </span>
                 <md-card-content>
                <div ng-show="video.likes[main.user_id]==null"> 
                    <md-button ng-disabled="main.inUse" class="likes" ng-click="like($event, video.$id, video.likes)">Like<md-icon><i class="material-icons">favorite_border</i> </md-icon> </md-button> 
                    Click to like.
                </div>
                <div ng-show="video.likes[main.user_id]!=null"> 
                    <md-button ng-disabled="main.inUse" class="likes" ng-click="unlike($event, video.$id, video.likes)">Unlike<md-icon><i class="material-icons">favorite</i> </md-icon> </md-button>
                    You liked this.
                </div>

                    <b>Title:</b> {{video.title}}
                    <br>
                   <b>Likes:</b> <span> currently, {{getLikeData(video.likes, video.$id)}} like(s) on this photo 
                    <br>
                    <b>Date:</b> {{video.date}}
                    <br>
                    <b>Views:</b> {{video.views}}
                    <md-button ng-href="/#/viewProfile/{{video.author_id}}"> Go to {{video.author_id}}'s profile</md-button>
                 </md-card-content>
            </md-card>

             <img class="first" ng-click="generateFrame(video.url, video.$id, video.views)" id="{{video.url}}-child" src="http://img.youtube.com/vi/{{video.url}}/0.jpg"></img><span style="position: relative; width: 0; height: 0"><img id="{{video.url}}-play" class="play-but" style="position: absolute; top: -120px; left: -210px;" src="http://i.imgur.com/TxzC70f.png" ng-click="generateFrame(video.url, video.$id, video.views)"></img>

        </span>

    	<span ng-repeat="video in thing" ng-if="$index > 0">
            <md-card class="mdcard">
                 <span id="{{video.url}}" class="thumbnail-container">
                    <img class="thumbnail" ng-click="generateFrame(video.url, video.$id, video.views)" id="{{video.url}}-child" src="http://img.youtube.com/vi/{{video.url}}/0.jpg"></img>
                    <i ng-click="generateFrame(video.url, video.$id, video.views)" class="material-icons play-circle" id="play-circle-{{video.url}}">play_circle_outline</i>
                 </span>
                 <md-card-content>
                <div ng-show="video.likes[main.user_id]==null"> 
                    <md-button ng-disabled="main.inUse" class="likes" ng-click="like($event, video.$id, video.likes)">Like<md-icon><i class="material-icons">favorite_border</i> </md-icon> </md-button> 
                    Click to like.
                </div>
                <div ng-show="video.likes[main.user_id]!=null"> 
                    <md-button ng-disabled="main.inUse" class="likes" ng-click="unlike($event, video.$id, video.likes)">Unlike<md-icon><i class="material-icons">favorite</i> </md-icon> </md-button>
                    You liked this.
                </div>
                    <b>Title:</b> {{video.title}}
                    <br>
                    <b>Likes:</b> currently, {{getLikeData(video.likes, video.$id)}} like(s) on this photo 
                    <br>
                    <b>Date:</b> {{video.date}}
                    <br>
                    <b>Views:</b> {{video.views}}
                    <md-button ng-href="/#/viewProfile/{{video.author_id}}"> Go to {{video.author_id}}'s profile</md-button>

                 </md-card-content>
                 </span>
            </md-card>


		</span>

            

    </div>

</div>

</div> -->







