.upload-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-page h1 {
  margin-top: 30px;
}

.upload-main-div {
/*  display: flex;
*/  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.upload-first-section {
  display: flex;
  flex-direction: row;
}

#upload-clipchamp {
  display: flex;
  flex-direction: column; /* what it do? */
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 2px;
  border-color: #e6e6e6;
}

.upload-vid-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-left: 60px;
}

.upload-vid-and-button button {
  margin-top: 20px;
}

.upload-show-tags-sect {
  display: flex;
  flex-direction: column;*/ /* what it do? */
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-top: 40px;

} 

.upload-left-div {
  width: 7%;
  min-width: 60px;
}

#upload-show-tags {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: large;
  margin: 24px;
  /*margin-left: 24px;*/
  width: 380px;
  height: 150px;
  overflow: scroll; 
  border-style: solid;
  border-width: 1px;
}

.upload-vid-meta-info-sect {
  margin: 60px;
  width: 100%;
}

.upload-vid-meta-info {

  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

#upload-tagging-sect {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.upload-tag-sect {
  font-size: large;
  float: left;
  margin: 24px;
  padding: 8px;
  /*margin-left: 24px;*/
  background: #e6e6e6;
  height: 300px;
  overflow: scroll; 
}

.upload-tag-sect strong {
}

.upload-tag-sect form {
  margin-bottom: 10px;
}

.nav-pills li a {
  color: black;
}

/*.upload-content-box {
  max-width: 500px !important;
}*/

.upload-add-vid-button {
  width: 300px;
}

.upload-content-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#video-title-desc a {
  margin-top: 20px;
}

#upload-tagging {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#upload-tagging a {
  margin-top: 20px;
}

#upload-upload-vid-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-category-name {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 200px;
  border-style: solid;
  padding: 5px;
}

.upload-tags-list {
  width: 200px;
  float: left;
  overflow: scroll; 
}

.upload-indi-cat {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: large;
}

.upload-indi-tags {

}

.upload-checkbox {
  color: black;
}