<!-- Bootstrap Wizard -->

<link rel="stylesheet" type="text/css" href="../../assets/widgets/wizard/wizard.css">
<script type="text/javascript" src="../../assets/widgets/wizard/wizard.js"></script>


<!-- Boostrap Tabs -->

<script type="text/javascript" src="../../assets/widgets/tabs/tabs.js"></script>


<div class='upload-page'>

  <h1> Upload a Video </h1>

<div class='col-md-2'></div>

<div class="col-md-8">
  <div class='upload-main-div'>
    <div class="upload-content-box content-box">
      <h3 class="content-box-header bg-primary">
          1. Record Video
      </h3>
      <div class="upload-content-box-wrapper content-box-wrapper">


        <div id='upload-clipchamp' ng-click='clipchamp()' ng-show='!upload.videoRecorded'>

          <img class='upload-add-vid-button' src='images/record_video_button.png' alt='add video button'/>

        </div>

        <div class='upload-success-message' ng-show='upload.videoRecorded'>
          <div class="alert alert-success">
            <div class="bg-green alert-icon">
                <i class="glyph-icon icon-check"></i>
            </div>
            <div class="alert-content">
                <h4 class="alert-title">Video Upload Success!</h4>
                <p> The video is now in our database</p>
            </div>
          </div>
          
      </div>
    </div>
  </div>

  <div class="upload-content-box content-box">
      <h3 class="content-box-header bg-purple">
          2. Title and Description
      </h3>
      <div class="upload-content-box-wrapper content-box-wrapper">
          
        <div id='video-title-desc' ng-show='!upload.title_desc_set && upload.videoRecorded'>

          <div id="upload-video-title">
              <h3>Video Title</h3>
              <span><small>{{70 - upload.title.length}} characters left...</small></span>
              <br>
              <input type="text" ng-model='upload.title' size='55' name="video_title" maxlength='70' placeholder='Write your title...'>
          </div>
        ​
          <div id="upload-video-description"> 
              <h3>Video Description</h3>
              Give a short description of your video <br>
              <span><small>{{140 - upload.description.length}} characters left...</small></span><br>
              <textarea rows='4' cols='55' id='upload-vid-description-box' name='video_description' ng-model='upload.description' maxlength='140' placeholder='Write your description...' ng-trim='false'></textarea>
          </div>

          <a class="btn btn-lg btn-primary" ng-click='upload.title_desc_set = true' title=""> Next </a>

        </div>

        <div class='upload-success-message' ng-show='upload.title_desc_set'>

          <div class="alert alert-success">
            <div class="bg-green alert-icon">
                <i class="glyph-icon icon-check"></i>
            </div>
            <div class="alert-content">
                <h4 class="alert-title">Title and Description Set!</h4>
                <p> They set yo.</p>
            </div>
          </div>

        </div>

      </div>

  </div>

  <div class="upload-content-box content-box">
      <h3 class="content-box-header bg-yellow">
          3. Tag Video
      </h3>
      <div class="upload-content-box-wrapper content-box-wrapper">

        <div id='upload-tagging' ng-show='upload.title_desc_set && !upload.tagsSet'>

          <div id='upload-show-tags'>

            <div class='upload-indi-cat'  ng-repeat='(category, value) in checkboxModel'>
              <div class='upload-indi-tags' ng-repeat='(tag, value) in checkboxModel[category].tags'>
                  <button ng-style='upload.tagStyle[category]' class="btn ra-100 btn-success" ng-show='checkboxModel[category].tags[tag].checked' ng-click='upload.removeTag(category,tag)'> {{checkboxModel[category].tags[tag].name}} </button>
              </div>
            </div>

          </div>
          
          <div id='upload-tagging-sect'>

            <div ng-repeat='(category, value) in checkboxModel'>

              <div class='upload-tag-sect' ng-style='upload.tagStyle[category]' id='upload-tag-sect-{{category}}'>

                <div class='upload-category-name'>
                  <strong>{{checkboxModel[category].name}}</strong>
                </div>

                <div class='upload-tags-list'>
                  <form name="myForm" ng-repeat='(tag, value) in checkboxModel[category].tags'>
                  <label class='upload-checkbox'>
                    <input  type="checkbox" ng-model="checkboxModel[category].tags[tag].checked">            
                    {{checkboxModel[category].tags[tag].name}}
                  </label><br/>
                </div>

              </div>
            </div>

          </div>

          <a class="btn btn-lg btn-primary" ng-click='upload.tagsSet = true' title="">Next</a>

        </div>



        <div class='upload-success-message' ng-show='upload.tagsSet'>
          <div class="alert alert-success">
            <div class="bg-green alert-icon">
                <i class="glyph-icon icon-check"></i>
            </div>
            <div class="alert-content">
                <h4 class="alert-title">Tags Set!</h4>
                <p> They set yo.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div id='upload-upload-vid-button'>

    <a class='btn btn-lg btn-primary' ng-click='upload.postVideo()' title='' ng-show='upload.tagsSet'>Upload Video</a>

  </div>

</div>

  <div id="alum-modal-view-video" ng-show="upload.modalOpen" >
      <div class="modal fade display-block">
         <div class="modal-dialog">
            <div class="modal-content alum-modal-content-2">
               <div class="modal-header">
                  <h4 class="modal-title" id="alum-modal-title-forChange">
                    Your video has been uploaded, {{fname}} {{lname}}!
                  </h4>
               </div>
               <div class="modal-body" id="alum-innerHTML">
                  <a class='btn btn-lg btn-primary' title='' ui-sref='myProfile'>Back to homepage</a>
               </div>
            </div>
         </div>
      </div>
   </div>

  <div class='col-md-2'></div>

</div>