#upload-vid-description-box {
  resize: none;
}

#upload-videos {
  margin: 25px;
}

#upload-video-title {
  width: 40%;
  height: 20%;
  margin: 25px;
 /* background-color: #e6e6e6;*/
}

#upload-video-description { 
  margin: 25px;
  /*background-color: #e6e6e6;*/
}

#upload-tagging-sect {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #bfbfbf;
}

.upload-tag-sect {
  font-size: large;
  float: left;
  margin: 24px;
  /*margin-left: 24px;*/
  width: 200px;
  background: #e6e6e6;
  height: 300px;
  overflow: scroll; 
}

.upload-content-box-wrapper-upload-video {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#upload-clipchamp {
  display: flex;
  flex-direction: column; /* what it do? */
  justify-content: center;
  align-items: center;
  background-color: #9feaa4;
  height: 300px;
  width: 300px;
  border: solid;
  border-width: 2px;
  border-color: #e6e6e6;
}

.upload-content-box {
    display: flex;
  flex-direction: column; /* what it do? */
  justify-content: center;
  align-items: center;
}

.upload-content-box-wrapper-title-desc {
  display: flex;
  flex-direction: row; /* what it do? */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#upload-showVideo {
  width: 420px;
  height: 315px;
  background-color: grey;
  float: left;
  margin: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

#upload-tag-sect-applying-to-college {
  background-color: #F0F8FF;
}

#upload-tag-sect-finding-community {
  background-color: #F0F8FF;
}

#upload-tag-sect-paying-for-college {

  background-color: #F0F8FF;
}

#upload-tag-sect-significant-others {
  background-color: #F0F8FF;
}

.upload-checkbox {
  margin-left: 8px;
}

.upload-tag-sect strong {
  margin-left: 8px;
  margin-bottom: 10px; 
}

#upload-show-tags {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: large;
  margin: 24px;
  /*margin-left: 24px;*/
  width: 380px;
  background-color: #F0F8FF;
  height: 150px;
  overflow: scroll; 
}

.upload-show-tags-sect {
  display: flex;
  flex-direction: column;*/ /* what it do? */
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf;
  width: 100%;
}

.upload-tag-div {
  margin: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: red;
}

#upload-indi-tags {
    float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
}

#upload-indi-cat {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.upload-content-box-header {
  display: flex;
  flex-direction: column; /* what it do? */
  justify-content: center;
  align-items: center;
}

.bbutton {
  float: left;
}

.fbutton {
  float: left;
}

.upload-head-nav {

}

#upload-show-tags button {
  margin: 5px;
}

.wizard-tab:hover {
  text-decoration: none;
}