<div>
	<button type='button' ng-click='clipchamp()'>
		uploadVideo
	</button>

	<div id="videos">

	</div>

	<!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
          <div class="modal-header">
            <span class="close">×</span>
            <h2>Modal Header</h2>
          </div>
          <div class="modal-body">
            <div id="video-title">
                <strong>Video Title</strong><br>
                Choose a title that is descriptive and eye-catching.<br>
                Title of the video: <input type="text" name="video_title"><br><br>
            </div>

            <div class="video-tags">
                <strong>Tags</strong><br>
                Choose tags to be associated with the video.<br>
                <input type="text" name="tag"><br><br>
            </div>
          </div>
          <div class="modal-footer">
            <h3>Modal Footer</h3>
          </div>
      </div>

    </div>

</div>